/* *{
} */
body {
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.side-bar {
    background-color: #FFEA00;
    grid-row: 1/3;
}

.side-bar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0 12%;
}

.side-bar-nav> ul>li, .side-bar-support> ul>li {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 15%;
    font-size: large;
}

nav {
    grid-column: 2/4;
}

img {
    height: 2remrem;
    width: 2rem;
}